body{

background:#000;

color:white;

font-family:"Courier New", monospace;

padding:40px;

margin:0;

}

.container{

width:900px;

margin:auto;

}

h1{

font-size:48px;

text-align:center;

}

h2{

margin-top:50px;

}

h3{

color:#cccccc;

}

p{

line-height:1.6;

font-size:17px;

}

audio{

width:500px;

margin-top:10px;

margin-bottom:20px;

}

img{

width:600px;

display:block;

margin:auto;

margin-top:20px;

margin-bottom:20px;

border:2px solid white;

}

hr{

margin-top:40px;

margin-bottom:40px;

border:1px solid #555;

}

a{

color:white;

text-decoration:none;

font-size:25px;

}



/* SECRET PAGE */

.secret-page {
    background: #000;
    min-height: 100vh;
}


.hidden-text {
    color: #000;
    font-family: "Courier New", monospace;
    text-align: center;
}


.continue {
    color: white;
    font-family: "Courier New", monospace;
    text-align: center;
    margin-top: 300px;
}


.chapter {
    font-size: 30px;
}


.date {
    opacity: 0;
    font-size: 26px;
    animation: fadeDate 2s forwards;
    animation-delay: 5s;
}


@keyframes fadeDate {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

    margin-top: 40px;

    animation: fadeDate 2s forwards;

    animation-delay: 5s;

}



/* Fade da data */


@keyframes fadeDate {


    from {

        opacity: 0;

    }


    to {

        opacity: 1;

    }


}